
/* Sticky footer styles
-------------------------------------------------- */
html, body {
  /*height: 100%;*/
  max-width: 100%;
  overflow-x:hidden;
}

/* Wrapper for page content to push down footer */
/* Negative indent footer by its height */
/* Pad bottom by footer height */
#wrap {
  /*width: 1140px;*/
  min-height: 100%;
  /*padding-left: 30px;*/
  /*padding-right: 30px;*/
  min-width: 800px;
  /*margin: 0 auto -50px;*/
  /*padding: 0 0 50px;*/
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
  background-color: #f5f5f5;
  font-size: 13px;
  padding-left:10px;
  padding-right:10px;
  margin-top: 50px;
}

h1 {
  font-size: 45px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn{
  padding-top:2px;
  padding-bottom:2px;
}

#footer_text_container{
  margin-top: 10px;
  margin-bottom: 0px;
  min-width: 950px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  max-width: 500px;
  top:0px;
}

.viz_description{
  font-size: 16px;
  font-weight: 300;
}

.sidebar_text{
  font-weight: 300;
}

.clustergrammer_container{
  width: 1140px;
  height: 750px;
  margin-bottom: 10px;
  overflow: hidden;
}

.clustergrammer_logo{
  width:210px;
}

.icon_buttons{
  color: #337ab7;
}

.share_url{
  width: 570px;
}

.viz_title{
  width: 100%;
  font-size: 30px;
  font-weight: 300;
  /*margin-left: -10px;*/
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DEDEDE;
}

.wait_message{
  margin-top: 20px;
  font-size: 25px;
  font-weight: 300;
  margin-left: 5px;
}

.viz_description{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 20px;
  text-align: justify;
  margin-bottom: 30px;
}

#clustergrammer_logo{
  width: 250px;
}