* {
  -webkit-box-sizing: border-box;
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428;
  color: #333;
  background-color: #fff;
}

/*.clust_icon{
  float:left;
  width: 33.3333333%;
  padding-left: 15px;
  padding-right: 15px;
}*/

.viz_medium_text{
  width:99%;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  color:#333;
  text-align: justify;
  font-size: 14px;
  font-weight: 300;
  padding-left: 0px;
}

.viz_large_text{
  width:99%;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 3px;
  color:#333;
  text-align: justify;
  font-size: 16px;
  font-weight: 300;
  padding-left: 0px;
}

/* need to move d3-tip into stypes */
.d3-tip {
  line-height: 1.25;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  max-width: 500px;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.icon_buttons{
  color: #337ab7;
}

.sidebar_text{
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;
}

.sidebar_button_text{
  font-size: 13px;
  font-weight: 300;
}

.btn{
  padding-top:2px;
  padding-bottom:2px;
}

.toggle_row_order{
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.modal-backdrop{
  display: none;
}

.modal-backdrop.fade{
  display: none;
}

.modal-backdrop.in{
  display: none;
}

/* sidebar tooltips */
.sidebar_tooltip {
    position: relative;
    display: inline-block;
}

.sidebar_tooltip .sidebar_tooltip_text {
    visibility: hidden;
    width: 120px;
    background: rgba(0, 0, 0, 1);
    /*opacity: 0.95;*/
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1000;
    top:100%;
    /*left:-400%;*/
    font-size: 15px;
    /*margin-left: 60px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.sidebar_tooltip:hover .sidebar_tooltip_text {
    visibility: visible;
}